h1, h2 {
  font-family: Lato;
  color: #0b098a;
  font-weight: bold;
  border-bottom: 2px dotted #9b9a9a;
  padding: 10px;
  letter-spacing: 10px;;
}

p {
  font-family: Lato;
  font-size: 14px;
  color: #3d3d3d;
  padding: 0px 10px;
  margin-top: -8px;
  font-weight: bold;
  letter-spacing: 4px;;
}

.heading {
  text-align: center;
  margin: 20px;
  text-transform: uppercase
}